body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
}

.main-container {
   padding-left: 15%;
   padding-right: 15%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.project p {
    margin-bottom: 20px;
    white-space: pre-line;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contact p {
    font-size: 1.1em;
}

#contact a {
    color: #007BFF;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#habilidades {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#habilidades h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#habilidades p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

.skills {
    font-weight: bold;
}

.skills.html {
    color: #000000;
}

.skills.css {
    color: #000000;
}

.skills.js {
    color: #000000;
}

.skills.node {
    color: #000000;
}

.skills.mongo {
    color: #000000;
}

.skills.java {
    color: #000000;
}

.skills.c {
    color: #000000;
}

.skills.python {
    color: #000000;
}

.skills.c {
    color: #000000;
}


* {box-sizing:border-box}

.container {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.html {width: 100%; background-color: #FFA500;} 
.css {width: 60%; background-color: #2196F3;} 
.js {width: 80%; background-color: #FFFF00;} 
.node {width: 70%; background-color: #68A063;}
.mongo {width: 50%; background-color: #4DB33D;}
.java {width: 90%; background-color: #f89820;}
.c {width: 80%; background-color: #A8B9CC;}
.python {width: 70%; background-color: #306998;}
.cpp {width: 80%; background-color: #00599C;}

